<!-- Block describing the Profile section START -->
<section
  id="profileSect"
  class="profile-sect vh-100 d-flex flex-column align-items-center justify-content-center bg-light py-5"
>
  <div class="container text-center">
    <div class="row gy-4 justify-content-center">
      <div class="col-lg-4 d-flex justify-content-center">
        <img
          src="profile/profile.jpg"
          class="img-fluid rounded-circle shadow-sm"
          alt="Profile Image"
        />
      </div>
      <div class="col-lg-8">
        <h3 class="anek-devanagari mb-3">Rintaro Tonami</h3>
        <p class="lead mb-4">神奈川県出身</p>
        <p class="mb-4">
          都内の会社にて、エンジニアとしてフロントエンド、バックエンドの開発業務を担当。<br />
          専門学校を卒業後、ベンチャー企業のSES（システムエンジニアリングサービス）部門を経て、現在の会社に入社。<br />
          経験言語・ツール：Node.js、Angular、Laravel、Python、Java、AWS
          Lambda、AWS Dynamo
        </p>
        <p class="fw-bold mb-2">保有資格</p>
        <ul class="list-unstyled mb-0">
          <li>～～試験</li>
          <li>～～試験</li>
          <li>～～試験</li>
          <li>～～試験</li>
        </ul>
      </div>
    </div>
    <div class="mt-5">
      <div class="inverted-triangle" (click)="clickTriangle()"></div>
    </div>
  </div>
</section>
<!-- Block describing the Profile section END -->
